html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
}

#canvasContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    position:relative;
    overflow:auto;
}
#myCanvas {
    border:1px solid #c3c3c3;
    margin: 10px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    border:1px solid #c3c3c3;
    padding: 10px;
}
.controls button {
    margin: 10px;
}

#instruction {
    display: block;
}