html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
}

#canvasContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    position:relative;
    overflow:auto;
}

article {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

#myCanvas {
    border:1px solid #c3c3c3;
    margin: 10px;
}

#canvasControls {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.controls {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border:1px solid #c3c3c3;
    padding: 10px;
}

.colors {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.color {
    width: 30px;
    margin-bottom: 10px;
}

#curveContainer{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    overflow: scroll;
}

#curveContainer > p{
    background-color: rgb(0, 255, 242);
    width: 70px;
    height: 70px;
    margin: 10px;
    line-height:70px;
    text-align: center;
}

#instruction {
    display: block;
}